:root{
    --color1: #34456B;
    --color2: #BBCAED;
    --color3: #7397EB;
    --color4: #253C70;
    --color5: #5A76B8;  
}

.barra{
    background-color: var(--color1);
}

.barra2{
    background-color: var(--color2);
}

.barra img{
    width: 150px;
}

.barra .menu{
    width: 70px;
    float: right;
    
}

.barra .user{
    width: 60px;
    float: right;
    margin-right: 5px;
}

.barra .user-desk{
    width: 60px;
    float: right;
    margin-right: 25px;
}

h2{
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 40px;
    color: var(--color4);
}

h3{
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 20px;
}

.columnas{
    width: fit-content;
}

.fila{
    background-color: rgb(241, 241, 241);
}

.fila2{
    background-color: var(--color1)
}

.card{
    background-color: #5A76B8;
    color: #ffffff;
    font-family: 'Quicksand';
    padding: 15px 15px 0px 15px;
    border-radius: 15px;
    margin: 0 auto;
}

.card1{
    background-color: transparent;
    color: #000;
    font-family: 'Quicksand';
    margin: 0 auto;
    text-align: center;
}

.card-title{
    font-weight: bold;
}

.botones{
    background-color: var(--color5);
    color: white;
    margin: 0 25px;
    padding: 10px 18px;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

.titulo{
    background-color: var(--color5);
    color: white;
    margin: 0 25px;
    padding: 10px 100px;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 45px;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
}

.botones:link{
    background-color: var(--color5);
    color: white;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.botones:hover{
    text-decoration: none;
    background-color: var(--color4);
}

.piede{
    background-color: var(--color4);
}

.list-group-item{
    background-color: var(--color4);
    color: #ffffff;
    font-family: 'Quicksand';
    border: 1px solid #ffffff;
}

.redes img{
    width: 100%;
}

.hiper a h3{
    background-color: var(--color2);
    margin-bottom: 0px;
    padding: 6px 0;
    text-decoration: none;
}

.hiper{
    padding: 0px;
}

.hiper a{
    width: 100%;
    color: #000;
}

.hiper a h3:hover{
    width: 100%;
    color: #000;
    text-decoration: none;
    background-color: var(--color3);
}

.dropdown-menu{
    border: none;
    background-color: var(--color2);
    border-radius: 0px;
    text-align: center;
}

.dropdown-item{
    font-family: 'Quicksand';
    font-weight: bold;
    padding: 13px 10px;
}

.encabezados{
    color: #ffffff;
    font-family: 'Quicksand';
    background-color: var(--color4);
    padding: 8px;
}

.evento{
    color: #ffffff;
    font-weight: normal;
    font-size: 18px;
}

.contacto{
    color: var(--color4);
    font-size: 40px;
    text-decoration: underline ;
    font-family: 'Quicksand';
    font-weight: bold;
}

.progress-bar{
    background-color: var(--color3);
}

.login{
    width: 350px;
    background-color: var(--color5);
    padding: 10px 7px;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Quicksand';
    position: absolute;
    right: 0;
    z-index: 1;
}

.invisible{
    display: none;
}

@media (max-width: 993px){
    #barrita{
        display: none;
    }

    .redes img{
        width: 30px;
    }

    .user-desk{
        display: none;
    }
}

@media (min-width: 994px){
    .dropdown{
        display: none;
    }

    .user{
        display: none;
    }
}
